<header>
    <a href="index.html"><p class="logo">PORTFOLIO OF<br>ISABELLA<br>BAGNULO</p></a>
    <nav>
        <a href="#" class="burger">
            <div class="menu--text">
                <span data-hover class="menu-text">Menu</span>
                <span data-close class="menu-close">Close</span>
            </div>
        </a>
        <div class="nav">
            <div class="nav__content">
                <ul class="nav__list">
                    <li class="nav__list-item"><a href="about.html">ABOUT</a></li>
                    <li class="nav__list-item"><a href="works.html">WORKS</a></li>
                </ul>
                <!-- <ul class="menu-social">
                    <li><a target="blank" href="https://www.linkedin.com/in/isabella-bagnulo-492698199/"><span class="fab fa-linkedin-in"></span></a></li>
                    <li><a target="blank" href="https://github.com/isabellabagnulo"><span class="fab fa-github"></span></a></li>
                    <li><a target="blank" href="https://www.behance.net/isabellabagnulo1"><span class="fab fa-behance"></span></a></li>
                </ul> -->
            </div>
        </div>
    </nav>
    <audio id="link" src="http://ivang-design.com/svg-load/menu/link.mp3" preload="auto"></audio>
    <audio id="hover-audio" src="http://ivang-design.com/svg-load/menu/hover.mp3" preload="auto"></audio>
</header>