.education{
    border-left: 0.5px solid $black;
    .ed-card{
        padding: 25px;
        position: relative;
        h3{
            @include fs-24;
            color: $pink;
            font-weight: 600;
        }
        h4{
            @include fs-20;
            font-weight: 500;
        }
        &:before{
            content: "";
            position: absolute;
            top: 45%;
            left: -6.5px;
            width: 10px;
            height: 10px;
            border: 1px solid $black;
            background: $white2;
            border-radius: 100%;
        }
    }
}

.bar{
    height: 25px;
    width: 100%;
    border-radius: 20px;
}
.skills-container{
    margin: -15px 0;
    p{
        padding: 0 15px;
        @include fs-12;
    }
    .bar{
        height: 15px;
    }
    .skill{
        background: $white;
        margin: 5px 0 10px 0;
    }
}



@media(min-width: 1050px){
    .education{
        text-align: center;
        border-top: 0.5px solid $black;
        border-left: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .ed-card{
            &:before{
                top: -6.5px;
                left: 45%;
            }
        }
    }

    .skills-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: -15px;
        .skills{
            margin: 15px;
        }
    }

    
}