// ----------------------- EDUCATION -----------------------
.education{
    border-left: 0.5px solid $black;
    .ed-card{
        padding: 25px;
        position: relative;
        h3{
            @include fs-24;
            color: $pink;
            font-weight: 600;
        }
        h4{
            @include fs-20;
            font-weight: 500;
        }
        &:before{
            content: "";
            position: absolute;
            top: 45%;
            left: -6.5px;
            width: 10px;
            height: 10px;
            border: 1px solid $black;
            background: $white2;
            border-radius: 100%;
        }
    }
}


@media(min-width: 1050px){
    .education{
        text-align: center;
        border-top: 0.5px solid $black;
        border-left: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .ed-card{
            &:before{
                top: -6.5px;
                left: 45%;
            }
        }
    }
}

// ----------------------- SKILLS -----------------------
.skills-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .single-skill{
        display: flex;
        flex-direction: column;
        align-items: center;
        .skill-name{
            padding-top: 10px;
            text-transform: uppercase;
            font-size: 0.75rem;
            font-weight: 600;
        }
    }
}

@media(min-width: 700px){
    .skills-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width: 1050px){
    .skills-container{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
}