
body.home{
    overflow: hidden;
}
#content{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    .intro--wrapper{
        height: 100vh;
        width: 100vw;
        position: relative;
        .intro-block{
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            .link-home{
                font-size: 2rem;
                font-weight: 600;
            }
            &.intro-block-works{
                background: #171717;
                color: $white2;
                align-items: flex-start;
                top: 0;
                .link-home{
                    padding-top: 50px;
                }
            }
            &.intro-block-about{
                background: #F1EEEA;
                color: $black;
                align-items: flex-end;
                bottom: 0;
                .link-home{
                    padding-bottom: 50px;
                }
            }
        }
    }
}

.btn-cat{
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    svg{
        margin: auto;
        position: absolute;
        top: 0; 
        left: 0; 
        bottom: 0; 
        right: 0;
    }
}