@font-face {
    font-family: 'Clash Display';
    src: 
        url(../../static/fonts/ClashDisplay-Extralight.woff2) url('woff2'),
        url(../../static/fonts/ClashDisplay-Extralight.woff) url('woff'),
        url(../../static/fonts/ClashDisplay-Extralight.ttf) url('ttf'),
        url(../../static/fonts/ClashDisplay-Extralight.eot) url('eot');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Clash Display';
    src: 
        url(../../static/fonts/ClashDisplay-Light.woff2) url('woff2'),
        url(../../static/fonts/ClashDisplay-Light.woff) url('woff'),
        url(../../static/fonts/ClashDisplay-Light.ttf) url('ttf'),
        url(../../static/fonts/ClashDisplay-Light.eot) url('eot');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Clash Display';
    src: 
        url(../../static/fonts/ClashDisplay-Regular.woff2) url('woff2'),
        url(../../static/fonts/ClashDisplay-Regular.woff) url('woff'),
        url(../../static/fonts/ClashDisplay-Regular.ttf) url('ttf'),
        url(../../static/fonts/ClashDisplay-Regular.eot) url('eot');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Clash Display';
    src: 
        url(../../static/fonts/ClashDisplay-Medium.woff2) url('woff2'),
        url(../../static/fonts/ClashDisplay-Medium.woff) url('woff'),
        url(../../static/fonts/ClashDisplay-Medium.ttf) url('ttf'),
        url(../../static/fonts/ClashDisplay-Medium.eot) url('eot');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Clash Display';
    src: 
        url(../../static/fonts/ClashDisplay-Semibold.woff2) url('woff2'),
        url(../../static/fonts/ClashDisplay-Semibold.woff) url('woff'),
        url(../../static/fonts/ClashDisplay-Semibold.ttf) url('ttf'),
        url(../../static/fonts/ClashDisplay-Semibold.eot) url('eot');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Clash Display';
    src: 
        url(../../static/fonts/ClashDisplay-Bold.woff2) url('woff2'),
        url(../../static/fonts/ClashDisplay-Bold.woff) url('woff'),
        url(../../static/fonts/ClashDisplay-Bold.ttf) url('ttf'),
        url(../../static/fonts/ClashDisplay-Bold.eot) url('eot');
    font-weight: 700;
    font-style: normal;
}