body{
    background: $black;
    color: $white;
}
a{
    color: $white;
}

.logo{
    position: fixed;
    top: 30px;
    left: 20px;
    z-index: 99;
}

.home{
    footer{
        display: none;
    }
}

.about{
    background: $white2;
    color: $black;
    .logo{
        color: $black;
    }
    main{
        margin: -25px 0;
        section{
            padding: 25px 0;
        }
    }
    img{
        padding-top: 25px;
    }
    .paragraph-1{
        padding-bottom: 20px;
    }
}

.section-inline{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
    p{
        @include fs-35;
        font-weight: 400;
    }
}
.swiper{
    padding: 25px 0;
    .swiper-pagination .swiper-pagination-bullet-active{
        background: $pink;
    }
}



@media(min-width: 700px){
    .logo{
        top: 70px;
        left: 30px;
    }
}

@media(min-width: 1000px){
    .single{
        .work-header{
            display: grid;
            grid-template-columns: 2fr 5fr;
            padding-bottom: 50px;
            .swiper{
                min-width: 0;
                width: 100%;
                height: auto;
                .swiper-slide {
                    width:auto;
                    height:auto;
                    img{
                        width:100%;
                        height:auto;
                    }
                }
            }
            .work-info{
                flex-direction: column;
                justify-content: flex-start;
                .single-info{
                    margin: 10px 0;
                }
            }
            img{
                padding-top: 0;
            }
        }
    }
}

@media(min-width: 1050px){
    .logo{
        top: 100px;
        left: 50px;
    }
    .section-inline{
        padding-top: 100px;
        p{
            @include fs-40;
        }
    }

    .about{
        main{
            margin: -50px 0;
            section{
                padding: 50px 0;
            }
        }
        .paragraph-1, .paragraph-2{
            display: grid;
        }
        .paragraph-1{
            grid-template-columns: 2fr 6fr;
            h1{
                padding-right: 100px;
            }
        }
        .paragraph-2{
            grid-template-columns: 6fr 2fr;
            p{
                padding-right: 150px;
            }
            img{
                padding-top: 0;
            }
            .image{
                width: 200px;
            }
        }
    }

    .swiper{
        padding: 0;
    }
}








// @media(min-width: 700px){

//     .home{
//         height: 100vh;
//     }


//     .single{
//         .work-header{
//             .work-info{
//                 .single-info{
//                     p{
//                         @include fs-14;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media(min-width: 1000px){
//     .single{
//         .work-header{
//             display: grid;
//             grid-template-columns: 2fr 5fr;
//             .swiper{
//                 min-width: 0;
//                 width: 100%;
//                 height: auto;
//                 .swiper-slide {
//                     width:auto;
//                     height:auto;
//                     img{
//                         width:100%;
//                         height:auto;
//                     }
//                 }
//             }
//             .work-info{
//                 flex-direction: column;
//                 justify-content: flex-start;
//                 .single-info{
//                     margin: 10px 0;
//                 }
//             }
//             img{
//                 padding-top: 0;
//             }
//         }
//     }
// }

// @media(min-width: 1050px){



//     .coming-soon{
//         height: 90vh;
//     }
// }

